[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
torch = "*"
sklearn = "*"
pandas = "*"
nltk = "*"

[requires]
python_version = "3.7"
